{% extends "base.html" %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container" id="contain" style="padding-top: 15px;padding-bottom: 15px;">
        <div id="wrapper"> 
        {% for drink in drinks.items %}
        {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
        {% if counter == 1 %}<div class="row">{% endif %}
                <div class="col-md-4" style="background-color: #f5f5f5;margin: 1%;">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                      <image xlink:href="https://raw.githubusercontent.com/gracege29/gracege29.github.io/master/com5940/assignment%232/bg.jpg" width="100%" height="225"/>
                      <text x="50%" y="50%" fill="#ffffff" dy=".3em">{{ drink.name }}</text></svg>
                    <div class="card-body">
                    <p class="card-text">No.:{{ loop.index }}<br>店铺:{{ drink.shop }}<br>茶类型:{{ drink.type }}<br>茶底:{{ drink.tea }}<br>主要配料:{{ drink.ingredients }}<br>饮品介绍:{{ drink.describe }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                    </div>
                </div>
                </div> 
        {% if counter == 3 %}</div><!--end row-->
        {%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
        {% endfor %} 
            </div>
        </div>
    </div>
  </div>
    {% for page in drinks.iter_pages() %}  
    {% if page %}
        <a href="{{url_for('album')}}/{{ page }}">{{ page }}</a>
    {% else %}
        ...
    {% endif %}
    {% endfor %}  
    </div>
{% endblock %}