{% extends "base.html" %}
{% block content %}
<script>
    $(document).ready(function(){
    $("#zhinan").click(function() {
            if($("#introduction").css("display")=="none"){
                $("#introduction").show();
                $("#zhinan").html("收起");
            }else{
                $("#introduction").hide();
                $("#zhinan").html("展开");
                }
        });
    });
</script>
<div class="section" id="news" style="padding:5px">
    <div class="container">
        <h5 style="line-height: 40px; background-color: #f7f7f7;">
            <i>“吃茶去”终结奶茶选择困难症，帮你快速找到想喝的奶茶与店铺。使用指南&gt;&gt;&gt;
                <span id="zhinan" style="text-decoration: underline;cursor: pointer;">
                    <u>收起</u>
                </span>
            </i>
        </h5>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <blockquote class="blockquote mb-0" id="introduction" style="display: none;">
                            <p style="font-size: 15px;">前往
                                <a href="/list_album">“饮品库”</a>修改饮品资料、增加新饮品，下架过季饮品；
                                <a href="/album">“饮品大全”</a>查看收录的奶茶</p>
                            <footer class="blockquote-footer">Grace GE</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}